Source: code-tympan
Section: science
Priority: optional
Maintainer: Logilab <contact@logilab.fr>
Build-Depends:
  debhelper (>= 9.0.0),
  cmake,
  libqt4-dev,
  libqt4-opengl,
  libqt4-opengl-dev,
  libcgal-dev,
  libcgal-qt4-dev,
  libboost-dev,
  libboost-doc,
  python3,
  python3-dev,
  python3-numpy,
  python3-shapely,
  python3-scipy,
  python3-matplotlib,
  python3-tk,
  cython,
  swig,
Standards-Version: 3.9.3
X-Python3-Version: all
Homepage: http://www.code-tympan.org/
Vcs-Hg: https://bitbucket.org/TYMPAN/code_tympan
Vcs-Browser: https://bitbucket.org/TYMPAN/code_tympan/commits/all

Package: code-tympan
Architecture: any
Depends:
  ${shlibs:Depends},
  ${misc:Depends},
  ${python:Depends},
  python3-numpy,
  python3-scipy,
  python3-shapely,
  python3-matplotlib,
Description: Noise simulation software
 Code_TYMPAN is an open source software developed by EDF R&D and dedicated to
 the calculation of industrial noise in the environment.
